{% extends 'base.html' %}
{% block content%}

<div class="row ml-1">
    <div class="col-sm-6 mb-4">
        <!-- about meassage -->
        <div><h2 class="about-header">About</h2></div>
        <div class="about-content mt-4">
            <p>This site was created for module 3 of the full stack development Code Institute Course.</p>
            <p>This site is a hypothetical book review website made to showcase Python,Databases,Html and Css.</p>
            <p>All the reviews and text that have been added are for demonstration purposes and the names are not 
                intended to represent real people , some of the book titles are also fake  
           </p>
           <p> All passwords are encripted but due tp the fact that this is a project please refrain from using passwords that you use 
               on other sites. </p>
            

            
        </div>
    </div>
    <div class="col-sm-6"><img src="{{ url_for('static', filename='img/404_b.png') }}" alt="" class="img-fluid"></div>
    
</div>

{% endblock %}